
@font-face {
  font-family: "Play";
  src: url("Fonts/Play-Regular.ttf"), url("Fonts/Play-Bold.ttf");  
}

/* style general */
body, header {
  font-family: "Play", sans-serif;
  font-style: normal;
  font-weight: normal;
}
.titre-arti, b {
  color: red;
  margin: 10px 0 0 10px;
}

ul
{
list-style-type: none;
}

a {
  text-decoration:none;
  font-size: 20px;
  margin:  10px;
  display: inline;
  color: #e00000;
}

.ico {

  height: 22px;
  margin: 8px 1px;
  
}

.container {
  display: flex;
  flex-direction: row;
 
}

.container-column {
  display: flex;
  flex-direction: column;
}

/* media list et header */
.top-content {
  justify-content: flex-end;
  margin: 0;

}

.sub-button {
  transform: rotate(180deg);
  height: 20px;
  width: 20px;
  margin-bottom: 0px;
  margin-left: 5px;
}


.barre-top {
  background-color: #e00000;
  height: 36px;
  border-bottom: 1px solid #e7e7e7;
}

.headerwrap {
  display: flex;
  justify-content: center;
  min-height: 100px;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px;
  background-color: #ffffff;
  padding-bottom: 18px;
  padding-top: 18px;
  
}

.headerwrap li>a:hover {
  text-align: center;
  background-color: red;
  color: #ffffff;

}

.logohead {
  display: flex;
  justify-content: flex-start;
  max-height: 64px;
  max-width: 280px;
  
}

/* slider positionnement*/
.carousel-wrapper{
  display: flex;
  justify-content: center;
  height:580px;
  position:relative;
  margin:0 auto;
}

.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  opacity:0;
  transition: all 0.5s ease-in-out;
}

/* slider Fleches*/

.arrow{
  position:absolute;
  top:0;
  display:block;
  width:50px;
  height:100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background: url("images/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
}

.arrow-prev{
  left:0;
}
 
.arrow-next{
    right:0;
    -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
  .arrow, .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
    }
  }


/*Select tous les element*/
[id^="item"] {
  display: none;
  }

  /* slider images ,remplacer Url() pour changer de bannière*/
.item-1 {
  z-index: 2;
  opacity: 1;
  background:url("images/zwei2-rotatingbanner-1600x580.png");
  background-size:cover;
  /*animation: fade 50s infinite; */
  }
.item-2 {
  background:url("images/skpbs-website-2-1600x580.png");
  background-size:cover;
  /*animation: fade 50s infinite; */
}
.item-3 {
  background:url("images/ys7-rotatingbanner-test-1600x580.png");
  background-size:cover;
  /*animation: fade 50s infinite; */
}
.item-4 {
  background:url("images/tocsPC-banner1-1600x580.png");
  background-size:cover;
  /*animation: fade 50s infinite; */
}

/* template pour rajouter des images au slider X, incrementer nombre

.item-X{
  background:url("tonimage");
  background-size:cover;
}

*/

/* slider transition*/
*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
  }

/* button slider Learn more / Visit, style*/
.bottom-left1 {
  bottom: 80px;
  left: 180px;
  display: inline-block;
  height: 25px;
  padding-top: 5px;
  background-color: #ff0000;
  border: 2px solid #fc0606;
  border-radius: 30px;
  width: 180px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 5px;
}

/* Ajustement taille logo dans l'image slider*/
.logo-slider {
  height: 350px;
  width: 600px;
}

.logo-slider2 {
  height: 398px;
  width: 370px;
}

.item-1, .item-2, .item-3, .item-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/* ----animation fade-----
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

@keyframes fade4
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

figure:hover { 
  animation-play-state:paused;
}

/* --tentative animation--
.item-1, .item-2, .item-3, .item-4 {
  width: 20%;
  float: left;
  animation: 25s slidy infinite;
}

figure {
    position: relative;
    width:  500%;
  }
*/

/* Positionnement tabs Flex*/
.tabs {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 20px;
}

.tabs input {
  display: none;
}

/* tabs stylisation normal ,hover et checked */

.tabs label {
  display: inline-block;
  height: 25px;
  width: 180px;
  padding-top: 5px;
  background-color: #ffffff;
  border: 2px solid #fc0606;
  border-radius: 30px;
  text-align: center;
  color: red;
  margin: 20px;
  
}
.tabs label:hover {
  display: inline-block;
  height: 25px;
  padding-top: 5px;
  background-color: #ff0000;
  border: 2px solid #fc0606;
  border-radius: 30px;
  width: 180px;
  text-align: center;
  color: #ffffff;
}
.tabs input:checked + label {
  display: inline-block;
  height: 25px;
  padding-top: 5px;
  background-color: #ff0000;
  border: 2px solid #fc0606;
  border-radius: 30px;
  width: 180px;
  text-align: center;
  color: #ffffff;
}
.tabs #tab1:checked ~ .content #content1,
.tabs #tab2:checked ~ .content #content2,
.tabs #tab3:checked ~ .content #content3,
.tabs #tab4:checked ~ .content #content4,
.tabs #tab5:checked ~ .content #content5  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(222, 222, 230, 0.25);
  border-radius: 50px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.tabs .content > div {
  display: none;
  padding-top: 20px;
  text-align: left;
  /*height: 192px;*/
  overflow: auto;
  transition: all ease-out 0.2s 0.1s;
}

/* tabs contenu */
.gamesbanner {
  padding: 0;
}

.gamesbanner img {
  overflow: hidden;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border-style: solid;
  border-width: 3px;
  border-color: red;
  width: 200px;
  justify-content: space-around;

}

/* positionnement article de fond*/
article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.articlefond {
  padding-top: 50px;
  min-width: 380px;
  max-width: 400px;

}

/* Stylisation article de font */
article h5 {
  color: #575757;               /*date*/
  margin: 10px 0 0 10px;
}

article h3 {
  color: red;
  font-size: 22px;
  margin-left: 10px;
}

.news-contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: rgba(214, 213, 209, 0.15);
  padding-bottom: 10px;
  
}

.news-text {
  font-size: 11px;
  color: #807c7c;
  margin: 10px 0 0 20px;
}

.news-text span {
  color: red;
  font-size: 16px;
}
input {
  width: 250px;
  margin-left: 20px;
}
.new-container {
  flex-wrap: wrap;
}

/* Stylisation Footer et positionnement */
footer {
  display: flex;
  flex-basis: 100%;
  background-color: #000000;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

}

.mentions {
  color: white;
  font-size: 14px;
}

footer p {
  font-size: 20px;
}
footer h3 {
  color: #807c7c;
  font-size: 12px;

}

footer div {
align-items: center;
justify-content: center;
}

#fixedbutton {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 50px;
  width: 50px;
  z-index: 5;
}