.barre-top {
  background-color: #e00000;
  height: 36px;
}
.headerwrap {
  max-width: 1200px;
  position: relative;
  margin: 0px;
  background-color: #cfd4f3
}
li {
  display: inline-block;
  
}
a {
  display: inline;
  color: #e00000;
}
.bottom-slider {
  max-width: 1200px;
  position: relative;
  margin: 0px;
  background-color: #cfd4f3
}
article {
  display: inline;
}

slidebar {
  position: relative;
  display: inline;
}
.logo {
  position: absolute;
  
}