@font-face {
  font-family: "Play";
  src: url("fonts/Play-Regular.ttf"), url("fonts/Play-Bold.ttf");
}

body {
  font-family: "Play", sans-serif;
}
.barre-top {
  background-color: #e00000;
  height: 36px;
}
.headerwrap {
  margin: 0px;
  background-color: #ffffff
}

.logohead {
  display: block;
  max-width: 500px;
  float: left;
}

nav {
float: left;
}

header {
  clear: both;
}
li {
  display: inline-block;
  
}
a {
  display: inline;
  color: #e00000;
}
.bottom-slider {
  max-width: 1200px;
  position: relative;
  margin: 0px;
  background-color: #cfd4f3
}
article {
  display: inline;
}

.container {
  position: relative;
  top : 0;
  left  0;
}
.banner {
  position: relative;
  top: 0;
  bottom: 0;
}
.banner:after {
  position: absolute;
  top: 30px;
  left: 70px;
  z-index: 1;
}
.platform {
  display: block;
  height: 30px;
  border-width: 3px;  
  border-color: red;
  
}


.bulle {
overflow: hidden;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
border-style: solid;
border-width: 3px;
border-color: red;
}

.slidebarlink {

}



.image {
  position: initial;
  display: block;
  width: 1200px;
  height: 100px;
  background-image: url("./images/shantaebubble.png");
  background-repeat: no-repeat;
  background-size: contain;;
  outline: none;
}

.articlefond {
  display: block;
}